/* Author: John Benjamin, 000843345 */


h1 {
	
	color: black;
	background-color: sienna;
	text-align: center;
	
}

h2 {
	
	background-color: tan;
	
}

body {
	
	background-color: white;	
	
}

footer {
	
	background-color: sienna;
	text-align: center;
}